html, body {
        margin: 0;
        background-color: #f1fffc;
      }
      * {
        box-sizing: border-box;
      }
      .header {
        border-bottom: 5px solid lightgreen;
        display: block;
        background-color: #E5FFF5;
        padding: 3px;
      }
      .containter {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #logo {
        max-width: 100%;
        max-height: 100%;
      }
      .logotitulo {
        color: #055AA4;
        font-family: "Times New Roman", Times, serif;
        font-size: 50px;
        padding: 20px;
      }
      .menu {
        overflow: hidden;
        background-color: #c7f8ff;
      }
      .menu a {
         margin: auto;
        font-size: 20px;
        float: left;
        display: block;
        color: #340059;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      .menu a:hover {
        background-color: white;
        color: black;
      }
      .main {
        border-top: 5px solid lightgreen;
        background-color: #f1fffc;
        padding: 5px;
        text-align: center;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .main ul {
        margin-left: 30%;
        text-align: left;
      }
      strong {
      color: navy;
      }
      figcaption {
      font-size: 10px;
      }
      .footer {font-size: 25px;
        border-top: 3px solid lightgreen;
        border-bottom: 3px solid lightgreen;
        text-align: center;
        background-color: #e5e5f7;
        opacity: 1.0;
        background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
        background-size: 10px 10px;
        color: #030980;
        padding: 3px;
        
      }